@import url('../fonts/fonts.css');

:root {
   --dull-orange: #DF802C;
   --pale-orange: #EFB15A;
   --lemon-grass: #94A293;
   --olive-green: #B5B67C;
}

* {
   margin: 0;
   padding: 0;
}

html {
   scroll-padding-top: 70px;
}

body {
   font-family: 'Poppins', sans-serif;
}

.navbar {
   min-height: 70px;
}

.brand img {
   height: 50px;
}

.brand-logo {
   font-family: 'BodoniFLF', serif;
   color: var(--dull-orange);
   font-size: 2.2rem;
   font-weight: 500;
   margin: 0;
   padding: 0;
}

.nav-link {
   color: var(--lemon-grass);
}

.nav-item .active {
   color: var(--dull-orange) !important;
}

.bg-white {
   background-color: white;
}

#inicio {
   height: 100vh;
   min-height: 500px;
   background-color: var(--dull-orange);
}

.header-logo {
   max-width: 500px;
}

.header-logo img {
   height: 120px;
}

.header-logo h1 {
   font-family: 'BodoniFLF', serif;
   font-weight: 600;
   color: white;
   font-size: 5.5rem;
   letter-spacing: 1.05rem;
   margin-right: -1.05rem;
   
}

.header-logo span {
   font-style: italic;
   font-weight: 300;
   font-size: 1.5rem;
}

#producto img {
   width: 400px;
   height: 400px;
   object-fit: cover;
   border-radius: 50%;
}

#presentaciones {
   background-color: var(--lemon-grass);
   color: white;
}

#presentaciones img {
   width: 100%;
}

#presentaciones h4 {
   font-weight: 200;
   text-transform: uppercase;
}

#ingredientes img {
   width: 400px;
   height: 400px;
   object-fit: cover;
   opacity: .85;
   border-radius: 50%;
   padding: 1rem;
}

#nosotros {
   background-color: var(--lemon-grass);
}

#nosotros p {
   color: #ddd;
   font-weight: 400;
}

footer p {
   font-weight: 300;
}

footer .copy {
   background-color: var(--dull-orange);
   min-height: 100px;
   font-weight: 300;
}


.social-links {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.social-links > a {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   font-size: 20px;
   color: black;
   margin-right: 10px;
   transition: 0.3s;
}

.social-links > a:hover {
   color: var(--dull-orange);
   border-color: var(--pale-orange);
}

@media only screen and (max-width: 912px) {
   [class*="col-"] {width: 100%}
   .reverse-col {order: 2}
   #ingredientes img {border-radius: 0}
}

@media only screen and (max-width: 500px) {
   .header-logo img {height: 100px}
   .header-logo h1 {font-size: 3.5rem}
   .header-logo span {font-size: 1.2rem}
   #producto img {width: 350px; height: 350px;}
   #ingredientes img {width: 100%;padding: 0;}
   footer .copy {text-align: center; padding: 1rem;}
}

@media only screen and (max-width: 400px) {
   .header-logo img {height: 90px}
   .header-logo h1 {font-size: 3rem}
   .header-logo span {font-size: 1rem}
   #producto img {width: 250px; height: 250px;}
   footer .row {margin-left: 0 !important; margin-left: 0 !important;}
}
